body {
    background-image: url("../img/background.jpg");
    color: rgb(92, 72, 148);
    font-size: 20px;
}


.panel {
    width: 200%;
    height: 600px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(245, 206, 155);
    border: 2px solid;
    overflow: auto
}

.logo {
    background-image: url("../img/cloud.gif");
    background-size: cover;
    color: rgb(42, 89, 151);
    font-family: 'Coiny', cursive;
    font-size: 100px;
}

