body {
    background-image: url("../img/background.jpg");
    color: whitesmoke;
}

.panel {
    width: 100%;
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
    border: 2px solid lightskyblue;
}

.logo {
    background-color: whitesmoke;
    color: lightskyblue;
}

