body{
    background-color: rgb(47, 65, 114);
    opacity: 60%;
}
h1,h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title{
    position: absolute;
    padding-top: 10%;
    padding-left: 40%;

}
input{
    width: 100px;
    padding: 12px 20px;
    margin: 8px ;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    background-color: rgb(22, 39, 86);
}
.error{
    color: red;
}
.boton{
    padding: 15px 25px;
    background-color: rgb(121, 134, 172);
    font-size: 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
@media only screen and (min-width: 200px) {
    .text{
        position: center;
        padding-top: 5%;
        padding-left: 10%;
    
    }
    .fondo{
        font-family: fantasy;
        font-size: 30px;
        opacity: 0.3;
        position: relative;
        padding-left: 40%;
        color: rgb(13, 10, 32);
    }
@media only screen and (min-width: 600px) {
    .text{
        position: center;
        padding-top: 5%;
        padding-left: 30%;
    
    }
    .fondo{
        font-family: fantasy;
        font-size: 40px;
        opacity: 0.3;
        position: relative;
        padding-left: 40%;
        color: rgb(13, 10, 32);
    }
@media only screen and (min-width: 1200px) {
    .text{
        position: center;
        padding-top: 5%;
        padding-left: 25%;
    
    }
    .fondo{
        font-size: 60px;
        font-family: fantasy;
        opacity: 0.3;
        position: relative;
        padding-left: 35%;
        color: rgb(13, 10, 32);
    }
@media only screen and (min-width: 1800px) {
    .text{
        position: center;
        padding-top: 5%;
        padding-left: 25%;
    
    }